.md-form {
    margin-bottom: 2px;
}

.red-alert {
    border-bottom: 1px solid red !important;
    box-shadow: 0 1px 0 0 red !important;
}

.warning {
    color: red;
    padding-left: 40px;
}

.logout {
    background: white !important;
    color: black;
    font-size: 15px;
}

.logout:hover {
    background: white !important;
}