.users-list td{
    font-size: 1.1rem !important;
}

.delete {
    color: #2BBBAD;
    padding-top: 0.85rem !important;
}
.delete i:hover {
    color: #6287F5;
    cursor: pointer;
}

.account-type {
    display: flex;
    justify-content: space-between;
    padding-left: 2.5rem;
    margin-top: 3rem;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}