.users-list td{
    font-size: 1.1rem !important;
}

.delete {
    color: #2BBBAD;
    padding-top: 0.85rem !important;
}
.delete i:hover {
    color: #6287F5;
    cursor: pointer;
}

.account-type {
    display: flex;
    justify-content: space-between;
    padding-left: 2.5rem;
    padding-right: 2.5rem;  
    margin-top: 3rem;
    font-size: 1rem;
    font-family: "Roboto", sans-serif;
}

.custom-message {
    width: 100%;
    padding: 1rem 2rem;
    margin-top: 20px;

}

.custom-error h5 {
    margin-bottom: 0;
}

.users-list  tr:hover{
    cursor: pointer;
    background: rgba(151, 149, 149, 0.5);
}

.logs-table tr:hover{
    background: rgb(177, 177, 177);
    cursor: pointer;
}